<%= erb :header %>
<!DOCTYPE html>

<html>
<div id="campaign_stat_title"><h1>Campaign Statistics Page</h1></div>
  <div id="maincontent">
    <article id="form">
      <!-- Table to show the tweet sent out when creating a campaign, the campaign name and the number
           of retweets and favourites for that tweet -->
      <div id="stat_table">
      <table>
        <tr>
          <th>Tweet</th>
          <th><a href="/show_campaigns">Campaign Name</a></th>
          <th>Retweets</th>
          <th>Favourites</th>
        </tr>
        <tr>
          <td><div id="like_tweet">
            <img id="user_image" alt="image" src="<%= @tweet.user.profile_image_uri.to_s %>" />
            @<%=h @tweet.user.screen_name %><br/>
            "<%=h @tweet.text %>"</td>
    </div>
    <td><%=h @campaign[0][0]%></td>
    <td><%=h @tweet.retweet_count%></td>
    <td><%=h @tweet.favorite_count%></td>
    </tr>
    </table>
</div>
<form action="/automatic_follow" method="get" >
  <input type="hidden" name="id" value="<%=h @tweet.id %>" />
  <input type="hidden" name="keyword" value="<%=h @campaign[0][2] %>" />
  <input type="submit" value="Automatically Follow" class="sub_button" />
</form>

      <!-- Table to show the usernames and tweets of people who have tweeted using the campaign keyword
           and a button to follow them -->
      <div id="follow_table">
        <table>
          <tr>
            <th>Username</th>
            <th>Tweet</th>
            <th>Retweets & Favourites</th>
            <th>Follow</th>
          </tr>
          <% @search_list.each do |tweet| %>
              <tr>
                <td>@<%=h tweet.user.screen_name %><br />
                  <img alt="image" src="<%= tweet.user.profile_image_uri.to_s %>" /></td>
                <td><%=h tweet.text %></td>
                <td><%= tweet.retweet_count.to_s+' '+tweet.favorite_count.to_s %></td>

                <!-- MAKE THIS LOOK NICE -->
                <td>
                  <% if @client.friendship?(@client, tweet.user) then %>
                      <div>
                        <iframe scrolling="no" style="border: none; width: 70px; height: 30px; margin: 0; padding: 0;" src="/show_button?user=<%=h tweet.user.screen_name %>&followed=1&height=30&width=70"></iframe>
                      </div>
                  <% else %>
                      <div>
                        <iframe scrolling="no" style="border: none; width: 70px; height: 30px; margin: 0; padding: 0;" src="/show_button?user=<%=h tweet.user.screen_name %>&followed=0&height=30&width=70"></iframe>
                      </div>
                  <% end %>
              </td>

              </tr>
          <% end %>
          </table>
  </div>

  </article>
</div>
</html>

<%= erb :footer %>