<%= erb :header %>
<article id="form">
  <h1>Search History For: <%=h session[:username] %></h1>
  <div id="search_table">
  <table>
    <tr>
      <th>
        Search String
      </th>
      <th>
        Last Searched
      </th>
    </tr>
    <% @searches.each do |search| %>
        <tr>
          <td>
            <a href="/do_search?search=<%=h search[0].gsub(' ', '+') %>"><%=h search[0] %></a>
          </td>
          <td>
            <%=h date_string_to_readable(search[1]) %>
          </td>
        </tr>
    <% end %>
  </table>
  </div>
</article>
<%= erb :footer %>