<%= erb :header %>


<!-- WEBSITE ARTICLES -->
<div id="maincontent">
  <article id="form">
    <% if @camps.length == 0 then %>
        <p>No campaigns found!</p>
    <% else %>
        <div id="show_table">
      <table>
        <tr>
          <th>Delete Campaign?</th>
          <th><a href="/show_campaigns?order=name">Name</a></th>
          <th><a href="/show_campaigns?order=desc">Description</a></th>
          <th><a href="/show_campaigns?order=keyword">Keyword (hashtag)</a></th>
        </tr>
        <% @camps.each do |campaign| %>
            <tr>
              <form action="/show_campaigns" method="post">
                <input name="campaign_id" type="hidden" value="<%=h campaign[3] %>" />
                <td><input type="submit" class="delete-button" value="" /></td>
                <td><a href="/campaign_stat?order=name&id=<%=h campaign[3] %>"><%=h campaign[0]%></a></td>
                <td><%=h campaign[1]%></td>
                <td><%=h campaign[2]%></td>
              </form>
            </tr>
        <% end %>
      </table>
        </div>
        <form id="delete_form" action="/show_campaigns" method="post" >
          <input id="camp" type="hidden" value="" name="id" />
        </form>
    <% end %>

  </article>
</div>


<%= erb :footer %>
