<%= erb :header %>
<article id="form">
  <h1>Search for: <%=h params[:search] %></h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Tweet</th>
    </tr>
    <% @followers.each do |user| %>
        <tr>
          <td>
            <%=h user.screen_name %><br />
            <img alt="image" src="<%= user.profile_image_uri.to_s %>" />
          </td>
          <td>
            <% if @client.friendship?(@client, user) then %>
                <div>
                  <iframe scrolling="no" style="border: none; width: 70px; height: 30px; margin: 0; padding: 0;" src="/show_button?user=<%=h user.screen_name %>&followed=1&height=30&width=70"></iframe>
                </div>
            <% else %>
                <div>
                  <iframe scrolling="no" style="border: none; width: 70px; height: 30px; margin: 0; padding: 0;" src="/show_button?user=<%=h user.screen_name %>&followed=0&height=30&width=70"></iframe>
                </div>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</article>
<%= erb :footer %>